.home_sidebar {
width: 200px;
height: 900px;
left: 40px;
top: 420px;
background: #f8f6f6;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
border-radius: 8px;
padding-left: 15px;
}


.home_side_bar_line1:hover {
    background-color: #e8f5fe;
      border-radius: 30px;
      color: rgba(28, 162, 224, 0.89);
      transition: color 100ms ease-out;
      padding: 20px;
}
.home_side_bar_line2:hover {
  background-color: #e8f5fe;
    border-radius: 30px;
    color: rgba(28, 162, 224, 0.89);
    transition: color 100ms ease-out;
    padding: 20px;
}
.home_side_bar_line3:hover {
  background-color: #e8f5fe;
    border-radius: 30px;
    color: rgba(28, 162, 224, 0.89);
    transition: color 100ms ease-out;
    padding: 20px;
}
.home_side_bar_line4:hover {
  background-color: #f5c9a6;
    border-radius: 30px;
    color: rgba(241, 151, 115, 0.89);
    transition: color 100ms ease-out;
    padding: 20px;
}
